.fullcalendarText {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  text-align: left;
  padding: 2px;
}

.eventTitle {
  white-space: nowrap;
}

.eventDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
